node_modules/
dist/
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
*.swp
